@media all and (min-width: 320px) {

}

@media all and (min-width: 480px) {
    .title_first-row {
        font-size: 44px;
    }

    .title_second-row {
        font-size: 27px;
    }

    .like-bouquet .title_big:after {
        display: block;
    }

    .like-bouquet .title_big:before {
        display: none;
    }

    .like-bouquet .title_big {
        padding-top: 30px;
    }
}

@media all and (min-width: 600px) {
    .top-phone {
        align-items: flex-start;
    }

    .title_big {
        font-size: 44px;
    }

    .title_second-row {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .form-picking__inputs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

        .form-picking__inputs_input {
            width: 36%;
        }

        .form-picking__inputs_input:nth-child(odd) {
            margin-right: 22px;
        }

    .button {
        width: 245px;
        margin: 0 auto;
    }

    .advantages {
        display: flex;
        flex-direction: row;
    }

    .advantage {
        min-height: 360px;
    }

    .like-bouquet .title_big {
        padding-top: 30px;
    }

    .like-bouquet .title_big:after {
        padding-top: 20px;
    }

.bouquet-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bouquet__column {
    width: 49%;
}

.bouquet__column:nth-child(2) {
    display: block;
}

    .bouquet__column:nth-child(1) .top-element, .bouquet__column:nth-child(4) .top-element, .bouquet__column:nth-child(2) .bottom-element, .bouquet__column:nth-child(3) .bottom-element, .bouquet__column:nth-child(5) .bottom-element {
        height: 350px;
    }

    .bouquet__column:nth-child(2) .top-element, .bouquet__column:nth-child(3) .top-element, .bouquet__column:nth-child(5) .top-element, .bouquet__column:nth-child(1) .bottom-element, .bouquet__column:nth-child(4) .bottom-element {
        height: 225px;
    }

}

@media all and (min-width: 800px) {
    .title {
        font-size: 40px;
    }

    .form-picking_title {
        font-size: 40px;
    }

    .form-picking {
        padding-bottom: 50px;
    }

    .form-picking__inputs {
        margin-bottom: 15px;
    }

    .form-picking__inputs_input {
        margin-bottom: 25px;
    }

        .form-picking__inputs_input:nth-child(odd) {
            margin-right: 30px;
        }

    .title_big:before, .title_big:after {
        display: inline-block;
    }

    .advantage {
        min-height: 330px;
    }

    .like-bouquet .title_big {
        padding-top: 75px;
    }

    .like-bouquet .title_big:after {
        padding-top: 15px;
    }

    .like-bouquet .first-line {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .like-bouquet .button {
        margin-top: 65px;
        margin-bottom: 95px;
    }

.bouquet__column {
    width: 33.3%;
    padding: 0 10px;
}

    .bouquet__column:nth-child(4) {
        display: block;
    }

}

@media all and (min-width: 1024px) {
    .title:before {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .title_second-row {
        margin-top: 3px;
        margin-bottom: 40px;
    }
}

@media all and (min-width: 1170px) {
    .wrapper {
        width: 1150px;
        margin: 0 auto;
    }

    .top-phone {
        padding: 15px;
    }

    .top-phone__bottom {
        margin-top: 5px;
    }

    .advantages {
        flex-direction: column;
    }

        .advantages_row {
            display: flex;
            flex-direction: row;
            margin-top: 35px;
        }

        .description {
            padding: 0 10%;
        }

    .advantage {
        width: 33.3%;
    }

    .form-picking {
        margin-bottom: -190px;
    }

    .like-bouquet {
        margin-top: -5px;
    }
}

@media all and (min-width: 1300px) {
}

@media all and (min-width: 1600px) {
}