@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.wrapper {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-block {
    background-color: transparent;
    background-image: url("/layout/image/header-bcg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 73vh;
}

.top-phone {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    position: relative;
}

    .top-phone__top:before {
        content: url(./image/top-phone__top_icon.png);
        position: absolute;
        left: -16px;
        padding-top: 3px;
    }

    .top-phone__top {
        font-size: 22px;
        width: 100%;
        text-decoration: none;
        color: #fff;
    }

    .top-phone__bottom {
        font-size: 12px;
        border-bottom: 2px #fff dotted;
        font-weight: 100;
        width: 110px;
        margin-top: 20px;
        cursor: pointer;
    }