/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

/*working styles*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
}

.wrapper_narrow {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gold-italic {
    color: #c49f5a;
    font-style: italic;
    font-size: 23px;
    font-family: 'Playfair Display', serif;
}

input:focus {
    border:none !important;
}

.button {
    border-radius: 25px;
    background-color: #c4a04d;
    background-image: url(./image/button_blick.jpg);
    background-size: cover;
    background-position: top center;
    color: #fffcf7;
    text-shadow: 3px 3px 3px grey;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;
    padding: 20px 45px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 13px 16px 3px #e6e3dd;
    transition: 30ms;
    text-align: center;
    cursor: pointer;
}

    .button:active {
        box-shadow: 2px 13px 16px 0px #e6e3dd;
        border: none;
        text-shadow: none;
        transition: 30ms;
    }

    .button:focus {
        border: none;
    }

.title_big {
    color: #000;
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
}

    .title_big_w {
        color: #fff;
    }

    .title_big:before, .title_big:after {
        content: url("./image/flourish.png");
        display: none;
    }

    .title_big:before {
        padding-right: 20px;
    }

    .title_big:after {
        padding-left: 20px;
    }

.description {
    text-align: center;
}

.first-line {
    font-size: 20px;
}

/*DOM styles*/

.main-top-block {
    height: auto;
    width: 100%;
    background-color: #fff;
    background-image: url("/layout/image/main-top-block_bcg.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.top-block {
    background-color: transparent;
    background-image: url("/layout/image/header-bcg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 73vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-phone {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    position: relative;
}

    .top-phone__top:before {
        content: url(./image/top-phone__top_icon.png);
        position: absolute;
        left: -16px;
        padding-top: 3px;
    }

    .top-phone__top {
        font-size: 22px;
        width: 100%;
        text-decoration: none;
        color: #fff;
    }

    .top-phone__bottom {
        font-size: 12px;
        border-bottom: 2px #fff dotted;
        font-weight: 100;
        width: 110px;
        margin-top: 20px;
        cursor: pointer;
    }

.title:before {
    content: url("./image/flourish.png");
    margin-top: 30px;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    padding: 0 10px;
}

        .title_first-row {
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }

        .title_second-row {
            font-size: 22px;
            text-align: center;
            margin-bottom: 20px;
        }

.form-picking {
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(203, 170, 94);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    top: -5px;
    padding-bottom: 20px;
    margin-bottom: -5px;
    box-shadow: 3px -2px 100px 0px rgb(128, 128, 128);
    align-items: center;
}

    .form-picking_title {
        color: #000;
        font-family: 'Playfair Display';
        font-size: 30px;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 35px;
        text-align: center;
    }

    .form-picking__inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

        .form-picking__inputs_input {
            border-radius: 20px;
            border: 1px solid #d4d4d4;
            color: #000;
            background-color: #fff;
            padding: 15px 25px;
            font-family: 'Roboto';
            font-size: 15px;
            margin-bottom: 20px;
        }

            .form-picking__inputs_input::-webkit-input-placeholder {
                color:#b3b3b3;
            }
            .form-picking__inputs_input::-moz-placeholder {
                color:#b3b3b3;
            }/* Firefox 19+ */
            .form-picking__inputs_input:-moz-placeholder {
                color:#b3b3b3;
            }/* Firefox 18- */
            .form-picking__inputs_input:-ms-input-placeholder {
                color:#b3b3b3;
            }

.bottom-block {
    padding: 10px;
    margin-bottom: -10px;
    padding-bottom: 30px;
}

.advantages {
    width: 100%;
    color: #000;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 22px;
}

.advantage {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.advantage img {
    width: auto;
    margin: 0 auto;
}

.like-bouquet {
    background-color: #4b3f39;
    background-image: url(/layout/image/like-bouquet_bcg.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}

    .like-bouquet .gold-italic {
        margin: 20px 0;
    }

    .like-bouquet .button {
        margin-bottom: 20px;
        box-shadow: 2px 13px 16px 3px rgba(31, 27, 22, 0.35);
        padding: 20px 51px;
    }

.bouquet .title_big {
    text-transform: none;
}

    .bouquet .title_big:after {
        content: url("/layout/image/flourish.png");
    }

.desc_ltl {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #b3b3b3;
    text-align: center;
    padding: 10px 0;
}

.title_big_boquet {
    padding-top: 30px;
}

.bouquet .title_big:before {
    display: none;
}

.bouquet .title_big:after {
    display: block;
}

.main-bouquet-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouquet-wrap {
    width: 100%;
}

.bouquet__column {
    height: 674px;
    margin-bottom: 39px;
    display: none;
    width: 100%;
    transition: 2s;
}

.bouquet__column:nth-child(1) {
    display: block;
}

.bouquet__column .element {
    margin-bottom: 39px;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bouquet__column .element:hover {
    background-image: url("/layout/image/product/one.jpg") !important;
    background-size: 100% auto;
    transition: 2s;
} 

.product-name {
    color: #fff;
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
}

.product-name:before {
    content: url("/layout/image/flourish-product-name.png");
    display: block;
}

    .bouquet__column:nth-child(1) .top-element, .bouquet__column:nth-child(4) .top-element, .bouquet__column:nth-child(2) .bottom-element, .bouquet__column:nth-child(3) .bottom-element, .bouquet__column:nth-child(5) .bottom-element {
        height: 384px;
    }

.bouquet__column:nth-child(2) .top-element, .bouquet__column:nth-child(3) .top-element, .bouquet__column:nth-child(5) .top-element, .bouquet__column:nth-child(1) .bottom-element, .bouquet__column:nth-child(4) .bottom-element {
    height: 250px;
}

.bouquet .button {
    margin-bottom: 20px;
    padding: 20px 77px;
}

footer {
    background-image: url("/layout/image/footer-bcg.jpg");
    background-size: cover;
}

footer .title_big {
    text-transform: none;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-wrapper .form-picking {
    position: inherit;
    top: 0;
    margin-bottom: 0;
}

.left-block {
    padding: 0 10px;
    color: #fff;
}

.foot-italic {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.metro {
    font-family: Roboto;
    font-size: 22px;
}

.metro:before {
    content: url("/layout/image/metro.png");
    position: relative;
    top: 3px;
    padding-right: 15px;
}

.adress {
    font-family: Roboto;
    font-weight: 100;
    font-size: 12px;
    padding-left: 38px;
}

.left-block .top-phone {
    left: 17px;
    margin-bottom: 30px;
}

.bottom-footer {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

.bottom-footer div {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.bottom-footer div a {
    padding-left: 15px;
}

.example-classname {
    position: absolute;
    height: 0 !important;
}

/*tmp styles*/
.bouquet__column:nth-child(1) > .top-element {
    background-image: url("/layout/image/product/1.jpg");
}
.bouquet__column:nth-child(1) > .bottom-element {
    background-image: url("/layout/image/product/2.jpg");
}
.bouquet__column:nth-child(2) > .top-element {
    background-image: url("/layout/image/product/3.jpg");
}
.bouquet__column:nth-child(2) > .bottom-element {
    background-image: url("/layout/image/product/4.jpg");
}
.bouquet__column:nth-child(3) > .top-element {
    background-image: url("/layout/image/product/5.jpg");
}
.bouquet__column:nth-child(3) > .bottom-element {
    background-image: url("/layout/image/product/6.jpg");
}
.bouquet__column:nth-child(4) > .top-element {
    background-image: url("/layout/image/product/7.jpg");
}
.bouquet__column:nth-child(4) > .bottom-element {
    background-image: url("/layout/image/product/8.jpg");
}
.bouquet__column:nth-child(5) > .top-element {
    background-image: url("/layout/image/product/9.jpg");
}
.bouquet__column:nth-child(5) > .bottom-element {
    background-image: url("/layout/image/product/10.jpg");
}
/*!tmp styles*/